*{
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
}
.header_top {
    height: 100px;
    width: 100%;
    background: rgb(149, 116, 228);
}
.header_bottom {
    min-height: 100px;
    width: 100%;  
    border: 2px solid red;  
    display: flex;
    align-items: center;
    justify-content: center;
}
.center {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    
}
.index_button {
    width: 150px;
    height: 50px;
    margin-top: 5px;
    border: 2px solid red;  
    border-radius: 20px;
}
.index_button_2 {
    width: 150px;
    height: 50px;
    margin-top: 5px;
    border: 2px solid red;  
    border-radius: 20px;
}
.footer {
    height: 100px;
    width: 100%;
    background: rgb(149, 116, 228);
    margin-top: 100px;
}
.centerQuestions {
    min-height: 100px;
    min-width: 300px;
    background: rgb(228, 116, 194);
 }
 .answersQuestions {
    min-height: 10px;
    min-width: 400px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    background: rgb(105, 196, 52);
 }
 .answerCard{
    margin-left: 5px;
    margin-bottom: 5px;
 }
 .answerCardBorder{
    border: 2px solid red;
 };
 .answerCardBorder_2{
    border: 2px solid rgb(38, 0, 255);
 };
 .answerCard:first-child{
    margin-left: 0px;
    }
.answerUserInput{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    }
 .questionsTimeTest {
    height: 50px;
    width: 100px;
    border: 2px solid rgb(11, 9, 15);
    background: rgb(214, 211, 34);

 }